@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    --main-color: rgb(173, 255, 47);
    --diameter: 6rem;
    --shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
        inset -2px -2px 2px rgba(0, 0, 0, 0.3),
        inset 1px -1px 20px rgba(0, 0, 0, 0.3),
        1px 1px 4px rgba(0, 0, 0, 0.3);
    font-size: 5vh;

    @media only screen and (max-device-width: 800px) {
        --diameter: 50vw;
    }

    @media screen and (pointer:coarse) and (orientation: landscape) {
        --diameter: 35vh;
        /* font-size: 10vh; */
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #404040;
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.25rem;
    font-family: 'Silkscreen', sans-serif;
    text-shadow: 0px -1px 1px black;

    @media only screen and (max-device-width: 800px),
    only screen and (max-device-height: 800px) {
        align-items: stretch;
        background-color: #151515;
        padding: 0rem;
    }

    touch-action: none;

}

.dnd {
    cursor: grab !important;

}

* {
    -webkit-user-select: none;
    font-family: 'Silkscreen', sans-serif;
    /* Safari */
    user-select: none;
}


h1 {
    margin: 0;
    padding: 0;
    font-size: 0.25rem;
}

h2 {
    margin: 0;
    margin-bottom: 0.1rem;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.25rem;
    text-align: center;
}

input {
    cursor: pointer;
    border: 0;
    background-color: #505050;
    width: 1rem;
    color: white;
    font-size: 0.25rem;
    text-align: center;
}

#metronome {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2),
        0px 3px 5px rgba(0, 0, 0, 0.7),
        5px 5px 20px 10px rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    background: radial-gradient(circle, #202020 49%, #090909 100%);
    background: radial-gradient(farthest-corner at right bottom, transparent 0%, transparent 70%, rgba(255, 255, 255, 0.03) 70%),
        radial-gradient(circle, #202020 49%, #090909 100%);
    background-color: #202020;
    padding: 0.5rem;
    min-width: 8rem;
    overflow: hidden;

    @media only screen and (max-device-width: 800px) {
        flex: 1;
        justify-content: space-between;
        box-shadow: none;
        border-radius: 0;
        padding: 0.5rem;
        min-width: auto;
    }

    @media screen and (pointer:coarse) and (orientation: landscape) {
        flex: 1;
        justify-content: space-between;
        box-shadow: none;
        border-radius: 0;
        padding: 0.5rem;
        width: calc(100vw - 1rem);
        min-width: auto;
        height: calc(100vh - 1rem);
    }


    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #metronome-inner {
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5rem;

        @media screen and (pointer:coarse) and (orientation: landscape) {
            flex-direction: row;
        }

        #controls {
            display: flex;
            flex: 1;
            flex-direction: column;

            #buttons {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                font-size: 0.4rem;
            }
        }
    }
}



#selector {
    --selector-gap: 0.2rem;
    display: flex;
    flex: 2;
    justify-content: space-between;
    gap: var(--selector-gap);

    >div {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--selector-gap);
        opacity: 0.5;
        cursor: pointer;
        min-width: 0.5rem;

        min-height: 4rem;
        text-align: center;

        @media screen and (pointer:coarse) and (orientation: landscape) {

            min-width: 0.5rem;
        }

        &[accent] {
            &>div {
                flex: 1;
            }

            &>div:nth-child(1) {
                background-color: var(--main-color);
            }

            &>div:nth-child(2) {
                background-color: #ffe82f;
            }

            &>div:nth-child(3) {
                background-color: #ff2f2f;
            }

            &[accent="medium"] {
                & div:nth-child(1) {
                    background-color: transparent
                }
            }

            &[accent="low"] {

                & div:nth-child(1),
                & div:nth-child(2) {
                    background-color: transparent;
                }
            }

            &[accent="none"] {

                & div:nth-child(1),
                & div:nth-child(2),
                & div:nth-child(3) {
                    background-color: transparent;
                }
            }
        }


        &.highlight {
            opacity: 1;

            background-color: rgba(255, 255, 255, 0.1);


            & div:nth-child(1) {
                box-shadow: 0 0 10px var(--main-color);
            }

            & div:nth-child(2) {
                box-shadow: 0 0 10px #ffe82f;
            }

            & div:nth-child(3) {
                box-shadow: 0 0 10px #ff2f2f;
            }


            &[accent="medium"] {
                & div:nth-child(1) {
                    box-shadow: none;
                }
            }

            &[accent="low"] {

                & div:nth-child(1),
                & div:nth-child(2) {
                    box-shadow: none;
                }
            }

            &[accent="none"] {

                & div:nth-child(1),
                & div:nth-child(2),
                & div:nth-child(3) {
                    box-shadow: none;
                }
            }
        }
    }
}



#tempo-knob {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: center;
    align-items: center;

    #wheel {
        display: flex;
        position: absolute;
        top: calc(50% - var(--diameter)/2);
        left: calc(50% - var(--diameter)/2);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        cursor: pointer;
        box-shadow:
            0 5px 40px 10px black,
            inset 0 5px 5px rgba(255, 255, 255, 0.2),
            inset 0 0 2px rgba(0, 0, 0, 0.4),
            inset 0 0 1px 0.11rem rgba(255, 255, 255, 0.2),
            inset 0 5px 5px 0.11rem rgba(0, 0, 0, 0.4),
            inset 0 5px 50px 0.11rem rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        background: radial-gradient(farthest-corner at right bottom, transparent 0%, transparent 70%, rgba(255, 255, 255, 0.03) 70%);
        background-color: rgba(255, 255, 255, 0.03);
        width: var(--diameter);
        height: var(--diameter);
        font-size: 1rem;
        text-shadow: 0 -1px 1px black;

        .dnd & {
            color: var(--main-color);
        }

        & #play {
            position: absolute;
            top: calc(50% - (var(--diameter) - 8rem)/2);
            left: calc(50% - (var(--diameter) - 5rem)/2);
            transform: rotate(0deg);
            z-index: -2;
            clip-path: polygon(0% 0%, 0% 100%, 100% 50%, 100% 50%);
            transition: all 1s;
            background: rgba(255, 255, 255, 0.04);
            width: calc(var(--diameter) - 5rem);
            height: calc(var(--diameter) - 5rem);
            pointer-events: none;
        }

        .is-playing & #play {
            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
            animation: spin 4s linear infinite;
            animation-delay: 0.5s;
            background: rgba(255, 255, 255, 0.06);
        }
    }

    #tempo-knob-inner {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: transparent;
        width: calc(var(--diameter) + 1rem);
        height: calc(var(--diameter) + 1rem);


        .value-container {
            position: absolute;
            transform-origin: 50% right;
            width: calc(var(--diameter) + 1rem);
            height: 0.15rem;

            .value {
                position: absolute;
                z-index: 100;
                cursor: pointer;
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
                background-color: rgba(255, 255, 255, 0.1);
                width: 0.5rem;
                height: 0.15rem;

                &::before {
                    position: absolute;
                    left: 0.8rem;
                    content: attr(data-tempo);
                    color: rgba(255, 255, 255, 0.3);
                    font-size: 0.23rem;
                }

                &:hover,
                &.highlight {
                    box-shadow: 0 0 10px var(--main-color);
                    background-color: var(--main-color);

                    &::before {
                        color: white
                    }
                }
            }
        }
    }
}


input#tempo {
    background-color: transparent;
}

#subdivisions-container {
    display: flex;
    flex: 1;
    flex-direction: column;


    & input#sub0 {
        display: none;
        visibility: hidden;
    }

    #subdivisions {
        display: flex;
        flex: 1;
        justify-content: space-between;


        & div {
            display: flex;
            flex: 1;

            & input {
                position: absolute;
                visibility: hidden;
                margin: 0;
                padding: 0;
                width: 0;
                height: 0;
            }

            & label {
                display: block;
                flex: 1;
                cursor: pointer;
                box-shadow: var(--shadow);
                background-color: rgba(255, 255, 255, 0.1);
                padding: 0.5rem;
                text-align: center;

                &:active {
                    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
                    background-color: rgba(255, 255, 255, 0.02);
                    color: var(--main-color);
                    text-shadow: 0 0 5px var(--main-color);
                }
            }

            &:nth-child(1) label {
                border-radius: 2rem 0rem 0rem 2rem;


            }

            &:last-child label {
                border-radius: 0rem 2rem 2rem 0rem;


            }

            & input:checked+label {
                box-shadow:
                    inset 1px 1px 1px rgba(0, 0, 0, 0.5);
                background-color: rgba(255, 255, 255, 0.02);
                color: var(--main-color);
                text-shadow: 0 0 5px var(--main-color);
            }
        }
    }
}


#beat-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 0.5rem;

    &>:first-child {
        flex: 1;
    }

    #beat-subcontainer {
        display: flex;
        flex-direction: column;

        #beat-edit {
            display: flex;
            flex: 1;
            justify-content: space-between;

            & div {
                display: flex;
                display: block;
                flex: 1;
                cursor: pointer;
                box-shadow: var(--shadow);

                background-color: rgba(255, 255, 255, 0.1);
                padding: 0.25rem;
                font-weight: bold;
                font-size: 0.75rem;
                text-align: center;

                &:first-child {
                    border-radius: 2rem 0rem 0rem 2rem;
                }

                &:last-child {
                    border-radius: 0rem 2rem 2rem 0rem;
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.08);
                }

                &:active {
                    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
                    background-color: rgba(255, 255, 255, 0.02);
                    color: var(--main-color);
                    text-shadow: 0 0 5px var(--main-color);
                }
            }

        }
    }
}


#tap-tempo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow);
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.25rem;
    text-align: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.02);
        color: var(--main-color);
        text-shadow: 0 0 5px var(--main-color);
    }
}

#volume {
    position: fixed;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    @media (pointer:none),
    (pointer:coarse) {
        display: none !important;
    }

    --volume-height: 5rem;
    --volume-width: 0.9rem;

    & input {
        position: absolute;
        visibility: hidden;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
    }

    & label {
        display: block;
        cursor: pointer;
        box-sizing: border-box;
        box-shadow: inset 0 2px px rgba(0, 0, 0, 0.2);
        border-bottom: 3px solid #303030;
        background-color: rgba(255, 255, 255, 0.1);
        width: var(--volume-width);
        height: calc(var(--volume-height) / 10);
        font-size: 0.4rem;
    }

    & input:checked~label {
        background-color: rgb(173, 255, 47, 0.5);
    }

    &::before {
        position: absolute;
        top: 0;
        left: -1px;
        z-index: 0;
        border-right: 0 solid transparent;
        border-right: calc(var(--volume-width) + 2px) solid transparent;
        border-bottom: calc(var(--volume-height) + 2px) solid #404040;
        width: 0;
        height: 0;
        pointer-events: none;
        content: "";
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}