@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    font-size: 8vh;
    --main-color: greenyellow;
}

body {
    background-color: #303030;
    font-family: 'Silkscreen', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 40px;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 1px -1px 1px black;
}

* {
    font-family: 'Silkscreen', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.25rem;

    & h1 {
        font-size: 0.25rem;
        margin: 0;
        padding: 0;
    }
}

label {
    font-size: 0.25rem;
}

#metronome {
    background-color: #181818;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3), inset 0px 2px 2px rgba(255, 255, 255, 0.3), 0px 3px 5px rgba(0, 0, 0, 0.8);
}

input,
button {
    font-size: 0.25rem;
    text-align: center;
    cursor: pointer;
}

input {
    width: 1rem;
    background-color: #505050;
    color: white;
    border: 0;
}

#selector {
    display: flex;
    gap: 0.25rem;
    user-select: none;
    font-size: 1rem;

    color: black;
    justify-content: space-between;

    >div {
        cursor: pointer;
        border: 0.1rem solid black;
        flex: 1;
        height: 3rem;
        text-align: center;
        text-shadow: 2px 2px 2px var(--main-color), -2px -2px 2px var(--main-color);
        opacity: 0.7;

        &.highlight {
            border: 0.1rem solid var(--main-color);
            opacity: 1;
        }

        &[accent="high"] {
            background: linear-gradient(0deg, var(--main-color) 0%, var(--main-color) 100%, transparent 100%), rgba(255, 255, 255, 0.2);
        }

        &[accent="medium"] {
            background: linear-gradient(0deg, var(--main-color) 0%, var(--main-color) 49%, transparent 50%), rgba(255, 255, 255, 0.2);

        }

        &[accent="low"] {
            background: linear-gradient(0deg, var(--main-color) 0%, var(--main-color) 1%, transparent 2%), rgba(255, 255, 255, 0.2);
        }
    }
}