@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root {
    font-size: 5vh;
    --main-color: rgb(173, 255, 47);
    --diameter: 6rem;

    --shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
        inset -2px -2px 2px rgba(0, 0, 0, 0.3),
        inset 1px -1px 20px rgba(0, 0, 0, 0.3),
        1px 1px 4px rgba(0, 0, 0, 0.3);

    @media only screen and (max-device-width: 700px) {
        --diameter: 60vw;
    }

    @media screen and (pointer:coarse) and (orientation: landscape) {
        --diameter: 55vh;
        font-size: 10vh;
    }
}

body {
    background-color: #303030;
    font-family: 'Silkscreen', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.25rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px -1px 1px black;
    height: 100vh;

    @media only screen and (max-device-width: 700px) {
        padding: 0rem;
        background-color: #151515;
        align-items: stretch;
    }
}

.dnd {
    cursor: grab !important;

}

* {
    font-family: 'Silkscreen', sans-serif;
}



h1 {
    font-size: 0.25rem;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 0.25rem;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.1rem;
}

input {
    text-align: center;
    cursor: pointer;
    width: 1rem;
    font-size: 0.25rem;
    background-color: #505050;
    color: white;
    border: 0;
}


#metronome {
    background-color: #151515;
    padding: 0.5rem;
    position: relative;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
    min-width: 8rem;
    box-shadow: inset 0px 1px 4px rgba(255, 255, 255, 0.4),
        inset 0px 0px 10px 10px rgba(255, 255, 255, 0.05),
        0px 3px 5px rgba(0, 0, 0, 0.7),
        0px 3px 10px 10px rgba(0, 0, 0, 0.4);


    @media only screen and (max-device-width: 700px) {
        min-width: auto;
        flex: 1;
        gap: 0.25rem;
        box-shadow: none;
        justify-content: space-between;
    }

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.25rem;
    }

    #metronome-inner {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media screen and (pointer:coarse) and (orientation: landscape) {
            flex-direction: row;
        }
    }
}



#selector {
    display: flex;
    gap: 0.1rem;
    user-select: none;
    justify-content: space-between;
    flex: 3;

    >div {
        display: flex;
        flex-direction: column;

        & * {
            flex: 1;
        }
    }

    >div {
        cursor: pointer;
        flex: 1;
        min-height: 4rem;
        text-align: center;

        @media screen and (pointer:coarse) and (orientation: landscape) {
            align-items: stretch;
        }

        color: rgba(255, 255, 255, 0.2);
        opacity: 0.5;

        >div {
            margin-bottom: 0.1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.highlight {
            opacity: 1;

            & div {
                background-color: rgba(255, 255, 255, 0.2);
            }

            &[accent="high"] {
                & div:nth-child(1) {
                    background-color: var(--main-color);
                    box-shadow: 0 0 10px var(--main-color);
                }

                & div:nth-child(2) {
                    background-color: #ffe82f;
                    box-shadow: 0 0 10px #ffe82f;
                }

                & div:nth-child(3) {
                    background-color: #ff2f2f;
                    box-shadow: 0 0 10px #ff2f2f;
                }
            }

            &[accent="medium"] {
                & div:nth-child(2) {
                    background-color: #ffe82f;
                    box-shadow: 0 0 10px #ffe82f;
                }

                & div:nth-child(3) {
                    background-color: #ff2f2f;
                    box-shadow: 0 0 10px #ff2f2f;
                }
            }

            &[accent="low"] {
                & div:nth-child(3) {
                    background-color: #ff2f2f;
                }
            }
        }

        &[accent="high"] {
            & div:nth-child(1) {
                background-color: var(--main-color);
            }

            & div:nth-child(2) {
                background-color: #ffe82f;
            }

            & div:nth-child(3) {
                background-color: #ff2f2f;
            }
        }

        &[accent="medium"] {
            & div:nth-child(2) {
                background-color: #ffe82f;
            }

            & div:nth-child(3) {
                background-color: #ff2f2f;
            }
        }

        &[accent="low"] {
            & div:nth-child(3) {
                background-color: #ff2f2f;
            }
        }
    }
}



#tempo-knob {
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    flex: 1;

    #wheel {
        position: absolute;
        display: flex;
        height: var(--diameter);
        width: var(--diameter);
        left: calc(50% - var(--diameter)/2);
        top: calc(50% - var(--diameter)/2);
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.05);
        box-shadow: 0 5px 40px black, inset 0 5px 5px rgba(255, 255, 255, 0.4), inset 0 -5px 5px rgba(0, 0, 0, 0.4);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 100;
        font-size: 1rem;
        text-shadow: 0 -1px 1px black;

        .dnd & {
            color: var(--main-color);
        }

        &:before {
            z-index: 101;
            height: calc(var(--diameter) - 0.2rem);
            width: calc(var(--diameter) - 0.2rem);
            position: absolute;
            content: "";
            border-radius: 50%;
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
                inset 0 0 1px 3px rgba(255, 255, 255, 0.3),
                inset 0 -1px 2px 5px rgba(0, 0, 0, 0.4),
                inset 0 -2px 40px 5px rgba(0, 0, 0, 0.4);

            pointer-events: none;
        }
    }

    #tempo-knob-inner {
        height: calc(var(--diameter) + 1rem);
        width: calc(var(--diameter) + 1rem);
        border-radius: 50%;
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;


        .value-container {
            position: absolute;
            height: 0.15rem;
            width: calc(var(--diameter) + 1rem);
            transform-origin: 50% right;

            .value {
                position: absolute;
                height: 0.15rem;
                width: 0.5rem;
                background-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
                box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);



                &::before {
                    color: rgba(255, 255, 255, 0.3);
                    position: absolute;
                    content: attr(data-tempo);
                    font-size: 0.2rem;
                    left: 0.8rem;
                }

                &:hover,
                &.highlight {
                    background-color: var(--main-color);
                    box-shadow: 0 0 6px var(--main-color);

                    &::before {
                        color: white
                    }
                }
            }
        }
    }
}


#tempo {
    background-color: transparent;
}

#subdivisions-container {
    flex: 1;
    display: flex;
    flex-direction: column;

    #subdivisions {
        flex: 1;
        user-select: none;
        display: flex;
        justify-content: space-between;

        @media screen and (pointer:coarse) and (orientation: landscape) {
            flex-direction: column;
        }

        & div {
            flex: 1;
            display: flex;

            & input {
                visibility: hidden;
                width: 0;
                height: 0;
                margin: 0;
                padding: 0;
                position: absolute;
            }

            & label {
                flex: 1;
                box-shadow: var(--shadow);
                background-color: rgba(255, 255, 255, 0.1);
                text-align: center;
                cursor: pointer;
                padding: 0.5rem;
                display: block;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.08);
                }
            }

            &:nth-child(1) label {
                border-radius: 2rem 0rem 0rem 2rem;

                @media screen and (pointer:coarse) and (orientation: landscape) {
                    border-radius: 2rem 2rem 0rem 0rem;
                }
            }

            &:last-child label {
                border-radius: 0rem 2rem 2rem 0rem;

                @media screen and (pointer:coarse) and (orientation: landscape) {
                    border-radius: 0rem 0rem 2rem 2rem;
                }
            }

            & input:checked+label {
                background-color: rgba(255, 255, 255, 0.02);
                box-shadow:
                    inset 1px 1px 1px rgba(0, 0, 0, 0.5);
                color: var(--main-color);
                text-shadow: 0 0 5px var(--main-color);
            }
        }
    }
}


#beat-container {
    display: flex;
    flex: 1;
    justify-content: space-between;

    @media screen and (pointer:coarse) and (orientation: landscape) {
        flex-direction: column;
    }

    gap: 0.5rem;

    &>:first-child {
        flex: 3;

    }

    #beat-subcontainer {
        display: flex;
        flex-direction: column;

        #beat-edit {
            user-select: none;
            display: flex;
            flex: 1;
            justify-content: space-between;

            @media screen and (pointer:coarse) and (orientation: landscape) {
                flex-direction: column;
                justify-content: space-between;
            }

            & div {
                flex: 1;
                display: flex;
                font-weight: bold;
                font-size: 0.75rem;
                box-shadow: var(--shadow);

                background-color: rgba(255, 255, 255, 0.1);
                text-align: center;
                cursor: pointer;
                padding: 0.25rem;
                display: block;

                &:first-child {
                    border-radius: 2rem 0rem 0rem 2rem;

                    @media screen and (pointer:coarse) and (orientation: landscape) {
                        border-radius: 2rem 2rem 0rem 0rem;
                    }
                }

                &:last-child {
                    border-radius: 0rem 2rem 2rem 0rem;

                    @media screen and (pointer:coarse) and (orientation: landscape) {
                        border-radius: 0rem 0rem 2rem 2rem;
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.08);
                }

                &:active {
                    background-color: rgba(255, 255, 255, 0.02);
                    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
                    color: var(--main-color);
                    text-shadow: 0 0 5px var(--main-color);
                }
            }

        }
    }
}

#volume {

    @media (pointer:none),
    (pointer:coarse) {
        display: none !important;
    }

    position: absolute;
    right: -1.2rem;
    top: 0.5rem;
    --volume-height: 5rem;
    --volume-width: 0.9rem;

    & input {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        position: absolute;
    }


    & label {
        display: block;
        background-color: rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        cursor: pointer;
        font-size: 0.4rem;
        height: calc(var(--volume-height) / 10);
        width: var(--volume-width);
        border-bottom: 3px solid #303030;
        box-shadow: inset 0 2px px rgba(0, 0, 0, 0.2);
    }

    & input:checked~label {
        background-color: rgb(173, 255, 47, 0.5);
    }

    &::before {
        pointer-events: none;
        left: -1px;
        position: absolute;
        z-index: 100;
        content: "";
        width: 0;
        height: 0;
        top: 0;
        border-left: calc(var(--volume-width) + 2px) solid transparent;
        border-right: 0 solid transparent;
        border-bottom: calc(var(--volume-height) + 2px) solid #303030;
    }
}

#tap-tempo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-shadow: var(--shadow);
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    cursor: pointer;
    padding: 0.25rem;

    &:hover {
        background-color: rgba(255, 255, 255, 0.08);
    }

    &:active {
        color: var(--main-color);
        text-shadow: 0 0 5px var(--main-color);
        background-color: rgba(255, 255, 255, 0.02);
    }
}